

  <div id="comment" style="height: auto; overflow-y: auto;">
      <ul class="list-group" style="position: relative; ">
        <li class="list-group-item" *ngFor="let comment of comments">
          {{comment.content}}
          <span class="text-right">
          le <i class="text-info">{{comment.creationDate | date}}</i> par {{comment.author}}
        </span>
        </li>
      </ul>
    </div>
    <button type="button" (click)="goToListPost()" class="btn btn-primary">Retour au liste des pots</button>

