<div class="col-md-6">

  <div style="height: auto; overflow-y: auto">
    <div class="card mb-4" *ngFor="let post of posts">
      <div class="card-body">
        <h2 [ngClass]="isSelectedPost(post.id)" >{{post.title}}</h2>
        <p class="card-text">
          {{post.content}}
        </p>
      </div>
      <div class="card-footer text-muted">
        Posté le {{post.creationDate | date}}
      </div>
      <div>
          <button (click)="getAllComments(post.id)" class="btn btn-primary btn-sm">Voir commentaires </button>
          &nbsp;
          <button (click)="setDisplayFields(post.id)" class="btn btn-primary btn-sm">Ajouter commentaire </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <br><br><br><br>
  <div id="comment" style="height: auto; overflow-y: auto;">
  
    <table width="100%">
      <tr class="list-group-item" *ngFor="let comm of comments">
        <td width="70%" >
          {{comm.content}}
          <span class="text-right">
            le <i class="text-info">{{comm.creationDate | date }}</i> par {{comm.author}}
          </span>
        </td>
        <td width="30%">
          <button (click)="setDisplayContentField(comm.content, comm.id, comment.postId)" class="btn btn-primary btn-sm">Modifier</button>&nbsp;
          <button (click)="deleteComment(comm.id, comment.postId)" class="btn btn-primary btn-sm">Supprimer</button>
        </td>
      </tr>
    </table>
  </div>
  <div style="height: auto; overflow-y: auto;" *ngIf="displayFields">
      <input type="text" [(ngModel)]="comment.author" placeholder="Autheur" />
      <br><br>
      <textarea rows="4" cols="70" [(ngModel)]="comment.content" placeholder="Content"></textarea>
      <br>
      <button (click)="createComment()" class="btn btn-primary btn-sm">Ajouetr</button>
  </div>
  <div style="height: auto; overflow-y: auto;" *ngIf="displayContentField">
    <br>
    <textarea id="contentID" rows="4" cols="60" [(ngModel)]="comment.content" placeholder="Content"></textarea>&nbsp;
    <button (click)="updateComment()" class="btn btn-primary btn-sm">Valider</button>
  </div>
</div>